/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.mjs-container {
    min-width: 900px;
}

.mjs-content-holder {
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mjs-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 834px;
    margin-left: auto;
    margin-right: auto;
}

.mjs-menu-item {
    float: left;
}

.mjs-menu-item-spacer {
    width: 1px;
}

a.mjs-menu-item-link {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 45px;
    padding-right: 45px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

a.mjs-menu-item-link-default {
    background-image: linear-gradient(rgb(244, 136, 255), rgb(255, 255, 255));
}

a.mjs-menu-item-link:visited {
    color: #000;
}

a.mjs-menu-item-link:link {
    color: #000;
}

a.mjs-menu-item-link:hover {
    background: #450034;
    color: #fff;
}

a.mjs-menu-item-link:active {
    color: #000;
}

a.mjs-menu-item-link-selected:visited, a.mjs-menu-item-link-selected:link, a.mjs-menu-item-link-selected:hover {
    background: #450034;
    color: #fff;
}

.mjs-picture-stack {
    padding-left: 38px;
    padding-top: 36px;
    height: 348px;
    width: 220px;
}

.mjs-picture-stack-bg {
    background-image: url('../img/slide-left-bg.png');
    width: 298px;
    height: 431px;
    float: left;
}

.mjs-footer-heading {
    font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    float: left;
}

.mjs-footer-link {
    font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #b5c4c4;
    font-size: 13px;
    text-decoration: none;
}

.mjs-footer-link:visited {
    color: #b5c4c4;
}

.mjs-footer-top-border {
    border-top: 1px solid #fff;
}

.mjs-footer-divider {
    width: 220px;
    border-top: 1px rgb(71, 71, 71) solid;
    margin-left: 3px;
}

.mjs-footer-link-container {
    padding-top: 3px;
    padding-bottom: 3px;
}

.mjs-text-container {
    background-color: #fcfcfc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.mjs-text-h2 {
    font-size: 20px;
}

.mjs-text-h3 {
    font-size: 18px;
}

.mjs-text-p {
    text-align: justify;
    text-indent: 30px;
}

.mjs-review-container {
    height: 900px;
    margin-bottom: 40px;
}

a.mjs-link {
    color: #105cb6;
}

a.mjs-link:visited {
    color: #105cb6;
}

a.mjs-link:hover {
    color: #ff48d7;
}

a.mjs-link:active {
    color: #000;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}