html, body {
    min-height: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

div.nav {
}
ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li.nav-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    height: 40px;
    padding: 5px 10px;
    white-space: nowrap;
}
a.nav-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
a.nav-item-selected {
    text-decoration: underline;
}

.card a {
    color: #000000;
}
.mjs-cards-gallery {
    width: auto;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

div.page {
    min-width: 1002px;
    background: #ffffff;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

div.page-content {
    width: 1002px;
    margin: 0 auto;
}

div.header {
    position: relative;
    background: #2b0757;
    padding: 10px;
}

div.header-left {
    margin: 0px 0px 0px 10px;
}

.heading {
    font-family: Arial;
    color: #ffffff;
}

div.header-right {
    position: absolute;
    top: 0px;
    right: 10px;
}

div.header-quicklinks {
    margin-left: auto;
    margin-right: 0;
    width: 140px;
    margin-top: 10px;
}

div.header-phone {
    margin: 0 auto;
    width: 225px;
    margin-top: 5px;
}

div.header-photo {
}

div.header-photo-overflow {
    margin-top: -130px;
    margin-left: -26px;
    margin-right: -30px;
    position: relative;
}

div.content {
    padding-top: 10px;
    padding-bottom: 20px;
    background-image: url('/img/Website-Background-30.png');
}

h2.heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #000000;
}

div.card-image {
    display: inline;
    float: left;
    background: #ffffff;
}

img.card-image {
    width: 160px;
    border: 1px solid #000000;
}

div.card-text {
    display: inline;
    float: left;
    margin-left: 20px;
}

a.card-title {
    text-decoration: underline;
}

a:hover.card-title {
    text-decoration: none;
}

span.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
}

a.card-buy {
    text-decoration: underline;
}

a:hover.card-buy {
    text-decoration: none;
}

div.card-info {
    margin-top: 28px;
}

h2.text {
    font-size: 20px;
}

h3.text {
    font-size: 18px;
}

p.text {
    text-align: justify;
    text-indent: 30px;
}

div.text-content {
    padding-left: 20px;
    padding-right: 20px;
}

td.label {
    text-align: right;
    padding-bottom: 15px;
    vertical-align: top;
}

td.value {
    padding: 0 0 15px 10px;
}

span.remark {
    color: #ed1c24;
}

a.tab-selected {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a.tab-not-selected {
    color: #105cb6;
    text-decoration: dashed;
}

tr.headerRow {
    color: #717171;
}

tr.headerRow td {
    padding: 10px;
}

td.item-price {
    text-align: right;
    padding: 10px;
    font-weight: bold;
}

td.item-quantity {
    text-align: right;
    padding: 10px;
}

td.item-name {
    padding: 10px;
}

td.item-total {
    padding: 10px;
    text-align: right;
    font-weight: bold;
}

td.item-remove {
    padding: 10px;
}

div.simpleCart_grandTotal {
    display: inline;
    font-weight: bold;
    color: #ed1c24;
}

div.simpleCart_shipping {
    display: inline;
    font-weight: bold;
    color: #ed1c24;
}