---
layout: default
title: Каталог карточек
---

    <!-- Sidebar -->
    <div style="position: fixed; top: 320px; background-color: #fcfcfc; padding: 20px;">
        <ul style="list-style: none; padding-left: 0px; margin: 0px;">
            {% assign cardsets = site.data.cardsets | sort: 'title' %}
            {% for cardset in cardsets %}
                <li><a href="#{{cardset.id}}" class="mjs-link">{{ cardset.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Card sets -->
    <div class="mjs-content-holder">
    {% for section in site.data.cardsections %}
        <h2 class="mjs-text-h2" style="color: #fbe3eb; text-shadow: 1px 1px 10px #000000; filter: Shadow(Color=#000000, Direction=45, Strength=5);">{{ section.title }}</h2>
        <hr />
        {% for cardset in site.data.cardsets %}
            {% if section.id == cardset.section %}
            <div class="mjs-picture-stack-container" style="margin-bottom: 30px;">
                <div class="mjs-picture-stack-bg">
                    <div class="mjs-picture-stack">
                        <a href="#" id="{{cardset.id}}" style="visibility: hidden;"></a>
                        <a href="cards/{{cardset.id}}.html" id="{{cardset.id}}-popup-link-img"><img src="img/{{ cardset.id }}/{{cardset.pictures | first}}.{{ cardset.pictures-format }}" width="222"></a>
                    </div>
                </div>
                <div class="mjs-price-box">
                    <p class="mjs-cards-title-container"><a class="mjs-link" href="cards/{{cardset.id}}.html" id="{{cardset.id}}-popup-link-txt">{{cardset.title}}</a></p>
                    <p class="mjs-cards-price-container"><span style="font-weight: bold;">{{ cardset.price }}</span> руб.</p>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {$('#{{cardset.id}}-popup-link-img').magnificPopup({type: 'ajax'})});
                $(document).ready(function() {$('#{{cardset.id}}-popup-link-txt').magnificPopup({type: 'ajax'})});
            </script>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>