<div style="width: 100%; text-align: center;"><h2 class="heading">Карточки</h2></div>
<div>
    {% for section in site.data.cardsections %}
    {% for cardset in site.data.cardsets %}
    {% if section.id == cardset.section %}
    <div class="card simpleCart_shelfItem">
        <div class="card-image">
            <a href="#" id="{{cardset.id}}" style="visibility: hidden;"></a>
            <a href="cards/{{cardset.id}}.html" id="{{cardset.id}}-popup-link-img"><img src="img/{{ cardset.id }}/{{ cardset.pictures | first}}.{{ cardset.pictures-format }}" class="card-image"></a>
        </div>
        <div class="card-text">
            <div style="height: 30px; width: 127px;">
                <span class="card-title" style="font-weight: bold;"><a class="card-title item_name" href="cards/{{cardset.id}}.html" id="{{cardset.id}}-popup-link-txt">{{ cardset.title }}</a></span>
            </div>
            <div class="card-info">
                <span class="card-title item_price">{{ cardset.price }} руб.</span>
            </div>
            <div class="card-info">
                <span class="card-title">{{ cardset.pictures | size }} шт.</span>
            </div>
            <div class="card-info">
                <span class="card-title">от 6 месяцев</span>
            </div>
            <div class="card-info">
                <p><input type="hidden" value="1" class="item_Quantity" style="width: 20px;"><a class="item_add card-buy" href="javascript:;">Купить</a></p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {$('#{{cardset.id}}-popup-link-img').magnificPopup({type: 'ajax'})});
        $(document).ready(function() {$('#{{cardset.id}}-popup-link-txt').magnificPopup({type: 'ajax'})});
        $('.card-buy').magnificPopup({
            showCloseBtn: false,
            items: {
                src: $('<div style="background: #ffffff; width: 240px; height: 80px; margin: 0 auto; padding: 10px;">' +
                        '<div>Товар добавлен в корзину!</div>' +
                        '<div style="margin-top: 10px; font-weight: bold;"><a href="cart.html">Оформить заказ</a></div>' +
                        '<div style="margin-top: 10px;"><a href="#" onclick="$.magnificPopup.instance.close(); return false;">Продолжить покупки >></a></div>' +
                        '<div class="mfp-close"></div>' +
                        '</div>'),
                type: 'inline'
            }
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>