<div style="margin-top: -10px;">
    {% for section in site.data.cardsections %}
    {% for cardset in site.data.cardsets %}
    {% if section.id == cardset.section %}
    <div class="card simpleCart_shelfItem" style="width: 305px; background: #ffffff; padding-top: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
        <div style="text-align: center;">
            <span class="card-title" style="font-weight: bold; font-size: 22px;"><a class="card-title item_name" href="cards/{{cardset.id}}.html" id="{{cardset.id}}-popup-link-txt">{{ cardset.title }}</a></span>
        </div>
        <div style="height: 220px; width: 200px; padding-left: 10px; margin-top: 10px;">
            <a href="cards/{{cardset.id}}.html" id="{{cardset.id}}-popup-link-img">
                <div class="card-image card-image-1">
                    <img src="img/{{ cardset.id }}/{{ cardset.pictures[0] }}.{{ cardset.pictures-format }}" class="card-image">
                </div>
                <div class="card-image card-image-2">
                    <img src="img/{{ cardset.id }}/{{ cardset.pictures[1] }}.{{ cardset.pictures-format }}" class="card-image">
                </div>
                <div class="card-image card-image-3">
                    <img src="img/{{ cardset.id }}/{{ cardset.pictures[2] }}.{{ cardset.pictures-format }}" class="card-image">
                </div>
                <div class="card-image card-image-4">
                    <img src="img/{{ cardset.id }}/{{ cardset.pictures[3] }}.{{ cardset.pictures-format }}" class="card-image">
                </div>
            </a>
        </div>
        <div class="card-text">
            <div class="card-info">
                <span class="card-title">В набор входит {{ cardset.pictures | size }} карточка, размер 10х15 см, ламинированная с двух сторон, для детей от {{ cardset.from }}</span>
            </div>
            <div class="card-info" style="position: relative; height: 55px;">
                <input type="hidden" value="1" class="item_Quantity" style="width: 20px;">
                <div style="text-align: left; margin-left: 15px; padding-top: 3px;">
                    <span class="item_price">{{ cardset.price }}</span><span class="item_currency"> руб.</span>
                </div>
                <div style="position: absolute; top: 0px; right: 10px;">
                    <a class="item_add card-buy" href="javascript:;"><img src="img/buy-button.png"></a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {$('#{{cardset.id}}-popup-link-img').magnificPopup({type: 'ajax'})});
        $(document).ready(function() {$('#{{cardset.id}}-popup-link-txt').magnificPopup({type: 'ajax'})});
        $('.card-buy').magnificPopup({
            showCloseBtn: false,
            items: {
                src: $('<div style="background: #ffffff; width: 240px; height: 80px; margin: 0 auto; padding: 10px;">' +
                        '<div>Товар добавлен в корзину!</div>' +
                        '<div style="margin-top: 10px; font-weight: bold;"><a href="cart.html">Перейти в корзину</a></div>' +
                        '<div style="margin-top: 10px;"><a href="#" onclick="$.magnificPopup.instance.close(); return false;">Продолжить покупки >></a></div>' +
                        '<div class="mfp-close"></div>' +
                        '</div>'),
                type: 'inline'
            }
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>