</div>
<div class="mjs-container" style="height: 260px; background-color: #450034;">
    <div class="mjs-content-holder" style="padding-top: 30px;">
        <p>
            <div class="mjs-footer-heading" style="width: 270px;">Ссылки</div>
            <div class="mjs-footer-heading" style="width: 270px;">Информация</div>
            <!-- div class="mjs-footer-heading">Обратная связь</div -->
        </p>
        <p style="padding-top: 10px;">
            <div style="float: left; width: 270px">
                <ul style="list-style-type: none; padding: 0px; margin: 0px;">
                    <li class="mjs-footer-link-container"><a class="mjs-footer-link" href="http://vk.com/club64526344" target="_blank">Группа Вконтакте</a></li>
                    <li class="mjs-footer-divider"></li>
                    <li class="mjs-footer-link-container"><a class="mjs-footer-link" href="http://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D0%BE%D0%B4_%D0%94%D0%BE%D0%BC%D0%B0%D0%BD%D0%B0" target="_blank">Методика Домана</a></li>
                </ul>
            </div>

            <div style="float: left; width: 270px;">
                <ul style="list-style-type: none; padding: 0px; margin: 0px;">
                    <li class="mjs-footer-link-container"><a class="mjs-footer-link" href="/">Главная</a></li>
                    <li class="mjs-footer-divider"></li>
                    <li class="mjs-footer-link-container"><a class="mjs-footer-link" href="methodics.html">Методика обучения</a></li>
                    <li class="mjs-footer-divider"></li>
                    <li class="mjs-footer-link-container"><a class="mjs-footer-link" href="cards.html">Каталог карточек</a></li>
                    <li class="mjs-footer-divider"></li>
                    <li class="mjs-footer-link-container"><a class="mjs-footer-link" href="reviews.html">Отзывы</a></li>
                    <li class="mjs-footer-divider"></li>
                    <li class="mjs-footer-link-container"><a class="mjs-footer-link" href="contacts.html">Контакты</a></li>
                </ul>
            </div>

            <div style="float: left; width: 360px;">
                <ul style="list-style-type: none; padding: 0px; margin: 0px;">
                    <li class="mjs-footer-link-container mjs-footer-link">Обучалкин &#169; 2014</li>
                    <li>
                        <a href="http://obuchalkin.reformal.ru" onclick="Reformal.widgetOpen();return false;" onmouseover="Reformal.widgetPreload();"><img src="img/reviews-icon-X.png" alt="Oставить отзыв..."></a>
                        <script type="text/javascript">
                            var reformalOptions = {
                                project_id: 354718,
                                show_tab: false,
                                project_host: "obuchalkin.reformal.ru"
                            };

                            (function() {
                                var script = document.createElement('script');
                                script.type = 'text/javascript'; script.async = true;
                                script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
                                document.getElementsByTagName('head')[0].appendChild(script);
                            })();
                        </script>
                        <noscript>
                            <a href="http://obuchalkin.reformal.ru" target="_blank" title="Оставить отзыв..."><img src="img/reviews-icon-X.png" alt="Oставить отзыв..."></a>
                        </noscript>

                        <a href="mailto:mail@obuchalkin.com" title="Написать письмо..."><img src="img/email-icon-X.png" alt="Написать письмо..."></a>
                        <a href="http://vk.com/club64526344" title="Группа вконтакте..." target="_blank"><img src="img/vkontakte-icon-X.png" alt="Группа вконтакте..."></a>
                    </li>
                    <!-- li class="mjs-footer-divider"></li -->
                    <li class="mjs-footer-link-container"></li>
                    <!-- li class="mjs-footer-divider"></li -->

                </ul>
            </div>
        </p>
    </div>
</div>

<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>