<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Обучалкин - {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        div.card {
            display: inline-block;
            margin-top: 30px;
            margin-left: 20px;
        }

        .mjs-gallery-pic {
            display: inline-block;
            border: solid #000000 1px;
            background-color: #ffffff;
            margin: 5px;
            width: 140px;
            height: 210px;
        }
    </style>
    <!--[if lte IE 7]>
    <style type="text/css">
        div.card {
            display: inline;
            zoom: 1;
            margin-top: 30px;
            margin-left: 20px;
        }
        .mjs-gallery-pic {
            display: inline;
            zoom: 1;
            border: solid #000000 1px;
            background-color: #ffffff;
            margin: 5px;
            width: 140px;
            height: 210px;
        }
    </style>
    <![endif]-->

    <link rel="stylesheet" href="css/new.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">Вы используете <strong>старый</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите свой браузер</a>.</p>
<![endif]-->
<div class="page">
    <div class="page-content">
        <!-- LOGO -->
        <div class="header">
            <div class="header-left">
                <div><a href="/"><span class="heading" style="font-weight: bold; font-size: 46px;">Обучалкин</span></a></div>
                <div><span class="heading" style="font-size: 18px;">Развивающие карточки для детей</span></div>
            </div>
            <div class="header-right">
                <div class="header-phone"><span class="heading" style="font-size: 30px; font-weight: bold;">+7 (929) 677-15-45</span></div>
                <div class="header-quicklinks">
                    <a href="/"><img src="img/home.jpg"></a>
                    &nbsp;<a href="mailto:kartochkiobuchalkina@gmail.com"><img src="img/email.png"></a>
                    &nbsp;<a href="http://vk.com/obuchalkincom" target="_blank"><img src="img/vk.png"></a>
                </div>
            </div>
        </div>

        <!-- NAV -->
        <div class="nav">
            <ul class="nav">
                <li class="nav-item" style="background: #ed5d2e;"><a class="nav-item {% if page.url == '/cards.html' %}nav-item-selected{% endif %}" href="cards.html">Карточки</a></li>
                <li class="nav-item" style="background: #ed5d2e;"><a class="nav-item {% if page.url == '/methodics.html' %}nav-item-selected{% endif %}" href="methodics.html">Методика</a></li>
                <li class="nav-item" style="background: #ed5d2e;"><a class="nav-item {% if page.url == '/delivery.html' %}nav-item-selected{% endif %}" href="delivery.html">Доставка и оплата</a></li>
                <li class="nav-item" style="background: #ed5d2e;"><a class="nav-item {% if page.url == '/reviews.html' %}nav-item-selected{% endif %}" href="reviews.html">Отзывы</a></li>
                <li class="nav-item" style="background: #ed5d2e;"><a class="nav-item {% if page.url == '/contacts.html' %}nav-item-selected{% endif %}" href="contacts.html">Контакты</a></li>
                <li class="nav-item" style="background: #52524D; width: 100%; padding-top: 0px; padding-left: 15px; padding-right: 0px;">
                    <a class="nav-item" href="cart.html">
                        <div style="display: table-cell; vertical-align: middle; padding-top: 10px;"><img width="35" src="img/cart-pic.png"></div>
                        <div style="display: table-cell; padding-top: 5px; margin-top: 0px; vertical-align: middle; padding-left: 10px; max-width: 80px;">
                            <div class="simpleCart_quantity" style="max-width: 30px; color: #f1fff4;"></div>
                        </div>
                    </a>

                </li>
            </ul>
        </div>

        <!-- Simple Cart init -->
        <script src="js/simpleCart.min.js"></script>
        <script>
            simpleCart.currency({
                code: "RUB" ,
                name: "Рубль" ,
                symbol: " руб." ,
                delimiter: " " ,
                decimal: "," ,
                after: true ,
                accuracy: 0
            });
        </script>