<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Обучалкин - {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/tinySlider.css">
    <!-- script src="js/vendor/modernizr-2.6.2.min.js"></script -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">Вы используете <strong>старый</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите свой браузер</a>.</p>
<![endif]-->

<div class="mjs-container mjs-logo-top-part"></div>
<div class="mjs-container mjs-logo-bottom-part"></div>
<div class="mjs-container" style="text-align: center; position: relative; top: -160px; margin-bottom: -100px;">
    <a href="index.html"><img src="img/logo-white.png"></a>
    <div style="font-size: 14px; color: #f488ff;">&#x2605 РАЗВИВАЮЩИЕ КАРТОЧКИ &#x2605</div>
</div>
<div class="mjs-container" style="background-color: #EB83F6; height: 100px;">
    <ul class="mjs-menu">
        <li class="mjs-menu-item"><a class="mjs-menu-item-link {% if page.url == '/cards.html' %} mjs-menu-item-link-selected {% else %} mjs-menu-item-link-default {% endif %}" href="cards.html">Карточки</a></li>
        <li class="mjs-menu-item mjs-menu-item-spacer">&nbsp;</li>
        <li class="mjs-menu-item"><a class="mjs-menu-item-link {% if page.url == '/methodics.html' %} mjs-menu-item-link-selected {% else %} mjs-menu-item-link-default {% endif %}" href="methodics.html">Методика обучения</a></li>
        <li class="mjs-menu-item mjs-menu-item-spacer">&nbsp;</li>
        <li class="mjs-menu-item"><a class="mjs-menu-item-link {% if page.url == '/reviews.html' %} mjs-menu-item-link-selected {% else %} mjs-menu-item-link-default {% endif %}" href="reviews.html">Отзывы</a></li>
        <li class="mjs-menu-item mjs-menu-item-spacer">&nbsp;</li>
        <li class="mjs-menu-item"><a class="mjs-menu-item-link {% if page.url == '/contacts.html' %} mjs-menu-item-link-selected {% else %} mjs-menu-item-link-default {% endif %}" href="contacts.html">Контакты</a></li>
    </ul>
</div>
<div class="mjs-container mjs-content">