<div class="cards-gallery">
    {% for cardset in site.data.cardsets %}
        {% if page.url contains cardset.id | append: '.html' %}
            {% for picname in cardset.pictures %}
                <div id="pic-{{picname}}" class="gallery-pic-container">
                    {% if cardset.back-pictures-format %}
                    <a href="#" onclick="flip_{{picname}}(event);">
                    {% endif %}
                        <div class="gallery-pic" style="background-image: url('img/{{cardset.id}}/{{picname}}.{{cardset.pictures-format}}')"></div>
                    {% if cardset.back-pictures-format %}
                    </a>
                    {% endif %}
                </div>
                {% if cardset.back-pictures-format %}
                <script type="text/javascript">
                    function flip_{{picname}}(event) {
                        $('#pic-{{picname}}').flip({
                            direction: 'lr',
                            content: '<a href="#" onclick="flip_back_{{picname}}(event);"><div class="gallery-pic" style="background-image: url(\'img/{{cardset.id}}/back/{{picname}}.{{cardset.back-pictures-format}}\')"></div></a>',
                            speed: 250,
                            color: 'white'
                        });
                        event.preventDefault();
                    }

                    function flip_back_{{picname}}(event) {
                        $('#pic-{{picname}}').revertFlip();
                        event.preventDefault();
                    }
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

<script src="js/jquery.flip.min.js" type="text/javascript">
</script>
<script src="js/jquery-ui-1.10.4.custom.min.js">
</script>